.lesson {
  width: 100vw;
  height: 90vh;
  overflow: hidden;

  .task {
    height: 20vh;
    width: 100vw;
    border-bottom: 1px solid $color-black;
  }

  .canvas {
    width: 50vw;
    height: 50vh;
    float:left;

    #canvas {
      width: 30vw;
      height: 50vh;
      background-color: blue;
    }
  }

  .code {
    width: 50vw;
    height: 50vh;
    float:right;

    form {
      width: 100%;
      height: 100%;

      textarea {
        width: 100%;
        height: 90%;
        resize: none;
        overflow-y:scroll;
        overflow-x:hidden;
      }
    }
  }

  .console {
    height: 20vh;
    width: 100vw;
    float:left;
    overflow-y:scroll;
    overflow-x:hidden;
    border-top: 1px solid $color-black;

    .line {
      color: black;
      display: block;
      width: 100vw;
      text-align: left;
      border-bottom: 1px solid $color-grey-light-2;
      padding: 3px;

      &::before {
        content: ">";
        color: $color-grey-dark;
        margin-left: 1rem;
        margin-right: 1.5rem;
      }
    }
  }
}
