.lesson {
  width: 100vw;
  height: 90vh;
  overflow: hidden;

  .task {
    height: 20vh;
    width: 100vw;
    border-bottom: 1px solid $color-black;


    p {
      margin: auto;
      width: 100%;
      height: 100%;
      padding: 5px;
      resize: none;
      overflow-y:scroll;
      overflow-x:hidden;
    }
  }

  .canvas {
    width: 50vw;
    height: 50vh;
    float:left;

    #canvas {
      width: 30vw;
      height: 50vh;
    }
  }

  .code {
    width: 50vw;
    height: 50vh;
    float:right;

    form {
      width: 100%;
      height: 90%;

      textarea {
        width: 100%;
        height: 90%;
        resize: none;
        overflow-y:scroll;
        overflow-x:hidden;
      }
    }
  }

  .console {
    height: 20vh;
    width: 100vw;
    float:left;
    overflow-y:scroll;
    overflow-x:hidden;
    border-top: 1px solid $color-black;

    .line {
      color: black;
      display: block;
      width: 100vw;
      text-align: left;
      border-bottom: 1px solid $color-grey-light-2;
      padding: 3px;

      &::before {
        content: ">";
        color: $color-grey-dark;
        margin-left: 1rem;
        margin-right: 1.5rem;
      }
    }

    .error {
      color: red;
    }
  }

  .result-message {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 1px solid $color-grey-light-2;
    width: 500px;
    height: 250px;
    border-radius: 50px;
    background-color: white;
    display: none;
    flex-direction: column;

    &-text {
      color: $color-primary-light;
      font-weight: bold;
      font-size: 3em;
      margin-top: 50px;
      margin-bottom: 25px;
    }

    &-stats {
      display: flex;
      flex-direction: row;
    }

    &-duration {
      width: 100%;
    }

    &-attempts {
      width: 100%;
    }

    &-buttons {
      margin-top: 40px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    &-menu-btn {
      background-color: #F4F9F4;
      padding: 10px;
      border-radius: 50px;
      border: 1px solid $color-grey-light-2;
      width: 30%;

      &:hover {
        background-color: $color-primary-light;
      }

      &:active {
        background-color: $color-primary-dark;
      }

      &:focus {
        outline: 0;
      }
    }

    &-next-btn {
      background-color: #F4F9F4;
      padding: 10px;
      border-radius: 50px;
      border: 1px solid $color-grey-light-2;
      width: 30%;

      &:hover {
        background-color: $color-primary-light;
      }

      &:active {
        background-color: $color-primary-dark;
      }

      &:focus {
        outline: 0;
      }
    }
  }
}
