.row {
  max-width: 80%;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 2rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
  .row .col-1-of-2 {
    width: calc((100% - 2rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 2rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 2rem) / 3) + 2rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 2rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2* ((100% - 3 * 2rem) / 4) + 2rem); }

.lesson {
  width: 100vw;
  height: 90vh;
  background-color: black;
  overflow: hidden; }
  .lesson .task {
    height: 20vh;
    width: 100vw;
    background-color: green; }
  .lesson .canvas {
    width: 50vw;
    height: 50vh;
    background-color: red;
    float: left; }
  .lesson .code {
    width: 50vw;
    height: 50vh;
    background-color: blue;
    float: right; }
  .lesson canvas {
    width: 30vw;
    height: 50vh;
    background-color: blue; }
  .lesson .console {
    height: 20vh;
    width: 100vw;
    background-color: magenta;
    float: left;
    overflow-y: scroll;
    overflow-x: hidden; }
    .lesson .console .line {
      color: black;
      display: block;
      width: 100vw;
      text-align: left;
      border-bottom: 1px solid #eee;
      padding: 3px; }
      .lesson .console .line::before {
        content: ">";
        color: #eee;
        margin-left: 1rem;
        margin-right: 1.5rem; }

.pixi h2 {
  margin: 1rem; }

.pixi .text {
  padding: 3rem;
  text-align: justify;
  font-size: 1.1rem;
  border-left: 1px solid #eee; }
  .pixi .text p {
    margin-top: 2rem;
    margin-bottom: 1rem; }
    .pixi .text p a {
      display: block;
      text-decoration: none; }
    .pixi .text p a:hover, .pixi .text p a:active {
      color: #1A8038;
      text-decoration: underline; }

.pixi ul {
  width: 95%;
  display: block; }
  .pixi ul li {
    display: block;
    width: 100%;
    background-color: #f7f7f7; }
    .pixi ul li:nth-child(2n-1) {
      background-color: #eee; }
    .pixi ul li:first-child, .pixi ul li:first-child a:hover, .pixi ul li:first-child a:active {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px; }
    .pixi ul li:last-child, .pixi ul li:last-child a:hover, .pixi ul li:last-child a:active {
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px; }
    .pixi ul li a {
      display: block;
      width: 100%;
      background-color: inherit;
      color: black;
      font-weight: normal; }
    .pixi ul li a:hover, .pixi ul li a:active {
      display: block;
      width: 100%;
      border-radius: 0px;
      background-color: #666;
      color: white;
      font-weight: normal; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  background-color: #F4F9F4; }

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50; }

h1, h2 {
  font-weight: normal; }

ul {
  list-style-type: none;
  padding: 0; }

li {
  display: inline-block;
  margin: 0 10px; }

a {
  color: #42b983; }

#header {
  height: 10vh;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  background-color: #35DF2D;
  padding: 0 20px; }

.logo {
  font-weight: bold;
  color: white; }

.logo a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
  border-radius: 50px; }

.logo a:active, .logo a:hover {
  color: white;
  background-color: #1A8038; }

nav {
  height: 100%; }

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-flow: row;
  align-items: center; }

li {
  margin: 0 16px; }

li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: block;
  padding: 10px;
  border-radius: 50px; }

li a:hover,
li a:active,
li a.router-link-active {
  color: white;
  background-color: #1A8038; }

.logout {
  background-color: transparent;
  border: none;
  font: inherit;
  color: white;
  cursor: pointer;
  font-weight: bold; }

.logout a {
  display: block;
  padding: 10px;
  border-radius: 50px; }

.logout a:hover,
.logout a:active {
  color: white;
  background-color: #1A8038; }

.shadow {
  -webkit-box-shadow: 5px 15px 21px 2px #b3b3b3;
  -moz-box-shadow: 5px 15px 21px 2px #b3b3b3;
  box-shadow: 5px 15px 21px 2px #b3b3b3; }

.block {
  background-color: white;
  border-radius: 25px;
  padding: 25px;
  margin-top: 50px; }

.home {
  min-height: 200px;
  width: 100%; }

.signup, .signin {
  width: 100%;
  border: 3px solid #1A8038;
  min-height: 300px; }

.signup h1, .signin h1 {
  margin-bottom: 25px; }

.signup .input, .signin .input {
  padding: 5px;
  margin: auto;
  width: 300px; }

.signup input, .signin input {
  background-color: #F4F9F4;
  border-radius: 50px;
  width: 200px;
  padding: 3px;
  float: right; }

.signup .submit, .signin .submit {
  padding: 5px;
  width: 100%;
  margin: auto; }

.signup button, .signin button {
  background-color: #F4F9F4;
  border-radius: 50px;
  width: 20%;
  margin: auto;
  margin-top: 25px;
  padding: 2px; }

.signup button:hover, .signin button:hover {
  background-color: #E4E9E4; }

.profile img {
  border-radius: 500px; }

.dashboard {
  min-height: 300px; }
  .dashboard h1 {
    margin-bottom: 25px; }
  .dashboard h2 {
    margin-bottom: 15px; }
  .dashboard ul {
    width: 100%;
    display: block; }
    .dashboard ul li {
      display: block;
      width: 100%;
      background-color: #f7f7f7; }
      .dashboard ul li:nth-child(2n-1) {
        background-color: #eee; }
      .dashboard ul li:first-child, .dashboard ul li:first-child a:hover, .dashboard ul li:first-child a:active {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px; }
      .dashboard ul li:last-child, .dashboard ul li:last-child a:hover, .dashboard ul li:last-child a:active {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px; }
      .dashboard ul li a {
        display: block;
        width: 100%;
        background-color: inherit;
        color: black;
        font-weight: normal; }
      .dashboard ul li a:hover, .dashboard ul li a:active {
        display: block;
        width: 100%;
        border-radius: 0px;
        background-color: #666;
        color: white;
        font-weight: normal; }
